#root {
  scrollbar-gutter: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  width: 100%;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: baseline;
}

nav input[type="date"]:nth-child(4) {
  margin-left: 0.3rem;
}